@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "imports/breakpoints.scss";
@import "imports/colors.scss";
@mixin button {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $yellow;
    padding-bottom: 6px;
    border-bottom: 2px solid $yellow;
    transition: 1s;
    &:hover {
        color: #af8d05;
    }
}

//Investment
.investment {
    &-all {
        &__main {
            padding-bottom: 0;
            overflow: hidden;
            .main-caption {
                display: flex;
                justify-content: center;
                .main-caption__wrapper {
                    display: flex;
                    flex-direction: column;
                    max-width: 480px;
                    margin-bottom: 89px;
                    padding-top: 100px;
                    .date {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #CECECE;
                        margin-bottom: 50px;
                    }
                    .title {
                        font-weight: 700;
                        font-size: 50px;
                        line-height: 61px;
                        letter-spacing: 0.1em;
                        color: #1A1A18;
                        margin-bottom: 50px;
                    }
                    .text {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 170%;
                        color: #1A1A18;
                    }
                }
            }
            .main-back {
                img {
                    border-radius: 0;
                }
            }
            .hr {
                width: 100%;
                height: 2px;
                background-color: $yellow;
            }
            .main-news {
                padding: 0 50px;
                .news-wrapper {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &__blog {
                        display: flex;
                        flex-direction: column;
                        padding: 40px;
                        max-width: 313px;
                        .date {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            color: #CECECE;
                            margin-bottom: 5px;
                        }
                        a {
                            .title {
                                font-weight: 700;
                                font-size: 28px;
                                line-height: 34px;
                                color: #1A1A18;
                                margin-bottom: 5px;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        .subtitle {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            color: #1A1A18;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $lg) {
        .investment-all {
            &__main {
                .main-news {
                    padding: 20px 25px;
                    .news-wrapper {
                        &__blog {
                            padding: 25px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $md) {
        .investment-all {
            &__main {
                .main-caption {
                    padding: 0 25px;
                    &__wrapper {
                        .title {
                            font-size: 35px;
                            line-height: 50px;
                        }
                        .text {
                            font-size: 15px;
                        }
                    }
                }
                .main-news {
                    padding: 50px 25px;
                    .news-wrapper {
                        flex-direction: column;
                        align-items: center;
                        &__blog {
                            width: 100%;
                            max-width: 500px;
                            padding: 20px;
                        }
                    }
                }
            }
        }
    }
}