footer.footer
    .footer-all
        .footer-all__copy © 2022, subuv
        .footer-all__navOne
            ul
                li
                    a(href="#") Security policy
                li
                    a(href="#") Site map
        .footer-all__navTwo
            ul
                li
                    a(href="#") Articles
                li
                    a(href="#") News
                li
                    a(href="#") FAQ
                li
                    a(href="#") Testimonials
        .footer-all__navThree
            ul
                li
                    a(href="#") Legal disclaimer