script(src='js/jquery-3.6.0.min.js')
script(src='js/wow.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js')
script(src='https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js')
script(src='js/main.js')