doctype html
html(lang='en')
    include includes/head
    link(rel="stylesheet", href="css/about.min.css")
    body
        .all
            include includes/header

            //Adaptive
            section.adaptive
                .adaptive-all
                    .adaptive-all__nav
                        ul
                            li
                                a(href="#") Rus
                            li
                                a(href="#") Vanilla
                            li
                                a(href="#") Dried
                            li
                                a(href="#") investment
                            li
                                a(href="#") Plantations
                            li
                                a(href="#") Call back

            //History
            section.history
                .history-all
                    .history-all__title About
                    .history-all__main
                        .main-links.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                            .main-links__wrapper
                                ul
                                    li
                                        a(href="#") History
                                    li
                                        a(href="#") Plantation
                                    li
                                        a(href="#") Mission
                                    li
                                        a(href="#") Sertificates
                                    li
                                        a(href="#") Wholesale trade
                                    li
                                        a(href="#") Distributors
                        .main-about.wow.animate__animated.animate__fadeInRight.animate__delay-0.5s
                            .year
                                .year__wrapper
                                    .title 1990
                                    .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                            .next
                                .next__desc
                                    .title 2001
                                    .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                                .next__img
                                    img(src="img/investment.png", alt="")
                            .year
                                .year__wrapper
                                    .title 2020
                                    .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                            .virginia
                                .virginia__text For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste.
                            .partners
                                .partners-list
                                    .partners-list__item
                                        img(src="img/partner-one.png", alt="")
                                    .partners-list__item
                                        img(src="img/partner-two.png", alt="")
                                    .partners-list__item
                                        img(src="img/partner-three.png", alt="")
                                    .partners-list__item
                                        img(src="img/partner-four.png", alt="")
                                    .partners-list__item
                                        img(src="img/partner-five.png", alt="")

            //Bottom
            section.bottom
                .bottom-all
                    .bottom-all__main
                        .main-item.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                            .main-item__title Wholesale trade
                            .main-item__text 
                                span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai
                            .main-item__button
                                a(href="#") Request
                        .main-item.wow.animate__animated.animate__fadeInRight.animate__delay-0.5s
                            .main-item__title Distributors
                            .main-item__text 
                                span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai
                            .main-item__button
                                a(href="#") Request

            include includes/footer


        include includes/scripts
