doctype html
html(lang='en')
    include includes/head
    link(rel="stylesheet", href='css/catalog-one.min.css')
    body
        .all
            include includes/header

            //Adaptive
            section.adaptive
                .adaptive-all
                    .adaptive-all__nav
                        ul
                            li
                                a(href="#") Rus
                            li
                                a(href="#") Vanilla
                            li
                                a(href="#") Dried
                            li
                                a(href="#") investment
                            li
                                a(href="#") Plantations
                            li
                                a(href="#") Call back

            //Vanilla
            section.vanilla
                .vanilla-all
                    .vanilla-all__title Vanilla
                    .vanilla-all__main
                        .main-item
                            .main-item__img
                                img(src="img/vanilla-one.png", alt="")
                            .main-item__text
                                a(href="#") Vanilla Extract
                        .main-item
                            .main-item__img
                                img(src="img/vanilla-two.png", alt="")
                            .main-item__text
                                a(href="#") Vanilla Powder
                        .main-item
                            .main-item__img
                                img(src="img/vanilla-three.png", alt="")
                            .main-item__text
                                a(href="#") Vanilla Spices

            //Guide
            section.guide
                .guide-all#guide-all-four
                    .guide-left
                        .guide-left__captions#captions-four
                            .guide-button.guide-button-one.active Indonesia
                            .guide-button.guide-button-two Madagascar
                            .guide-button.guide-button-three Dominicana
                        .guide-left__text#text-four
                            span Combining formulation expertise with substantial knowledge in producing natural ingredients, we bring together science, market insights, and sourcing to create business advantages for our partners. Virginia Dare’s combination of superior flavor platforms with focused industry expertise makes us the leading partner for attaining preferred taste with strategic business value.
                            span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai.
                    .guide-right
                        .guide-right__img#img-four
                            img(src="img/back-bonus.png", alt="")

            //Desc
            section.desc
                .desc-all
                    .desc-all__item
                        .title Quality
                        .text For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste.
                    .desc-all__item
                        .title Convenience
                        .text As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai.
                    .desc-all__item
                        .title Usage
                        .text As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai.

            //Bottom
            section.bottom
                .bottom-all
                    .bottom-all__main
                        .main-item.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                            .main-item__title Wholesale trade
                            .main-item__text 
                                span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai
                            .main-item__button
                                a(href="#") Request
                        .main-item.wow.animate__animated.animate__fadeInRight.animate__delay-0.5s
                            .main-item__title Distributors
                            .main-item__text 
                                span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai
                            .main-item__button
                                a(href="#") Request

            include includes/footer


        include includes/scripts
