doctype html
html(lang='en')
    include includes/head
    link(rel="stylesheet", href='css/catalog-one.min.css')
    link(rel="stylesheet", href='css/catalog-two.min.css')
    link(rel="stylesheet", href='css/catalog-three.min.css')
    body
        .all
            include includes/header

            //Adaptive
            section.adaptive
                .adaptive-all
                    .adaptive-all__nav
                        ul
                            li
                                a(href="#") Rus
                            li
                                a(href="#") Vanilla
                            li
                                a(href="#") Dried
                            li
                                a(href="#") investment
                            li
                                a(href="#") Plantations
                            li
                                a(href="#") Call back

            //Product
            section.product
                .product-all
                    .product-all__images
                        .images-main
                            img(src="img/item-three.png", alt="")
                        .images-else
                            a(href="#") 
                                img(src="img/item-two.png", alt="")
                            a(href="#") 
                                img(src="img/item-one.png", alt="")
                    .product-all__info
                        .info-title#productItem Pure Vanilla Extract
                        .info-reviews#productItem
                            .reviews-likes
                                .reviews-likes__text 4.5
                                .reviews-likes__img
                                    img(src="img/star.svg", alt="")
                            .reviews-comments
                                .reviews-comments__text 4.5
                                .reviews-comments__img
                                    img(src="img/comment.svg", alt="")
                        .info-desc#productItem Combining formulation expertise with substantial knowledge in producing natural ingredients, we bring together science, market insights, and sourcing
                        .info-wrap#productItem
                            .wrap-price 230$
                            .wrap-size
                                .size__text 25L
                                .size__img
                                    img(src="img/cub.svg", alt="")
                            .wrap-button Add to cart
                        .info-delivery#productItem
                            .delivery-one
                                .title Delivery
                                .text Combining formulation expertise with substantial knowledge in producing natural ingredients,
                            .delivery-two
                                .title Package
                                .text Substantial knowledge in producing natural ingredients, we bring together science, market insights, and sourcing

            //Specif
            section.specif
                .specif-all
                    .specif-all__side
                        .specif-captions#specif-captions
                            .specif-button.specif-button-one.active Description
                            .specif-button.specif-button-two Specifications
                            .specif-button.specif-button-three Sertificates
                    .specif-all__text#specif-text
                        span.
                            Combining formulation expertise with substantial knowledge in producing natural ingredients, we bring together science, market insights, and sourcing For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai.Combining formulation expertise with substantial knowledge in producing natural ingredients, we bring together science, market insights, and sourcing For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai.

            //Extracts-two
            section.extracts#extracts-two
                .extracts-all#ext-all-one
                    .extracts-all__title#title-two Popular products
                    .extracts-all__main#main-two
                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract

                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract
                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract

            //Bottom
            section.bottom
                .bottom-all
                    .bottom-all__main
                        .main-item.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                            .main-item__title Wholesale trade
                            .main-item__text 
                                span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai
                            .main-item__button
                                a(href="#") Request
                        .main-item.wow.animate__animated.animate__fadeInRight.animate__delay-0.5s
                            .main-item__title Distributors
                            .main-item__text 
                                span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai
                            .main-item__button
                                a(href="#") Request

            include includes/footer


        include includes/scripts
