doctype html
html(lang='en')
    include includes/head
    body
        .all
            include includes/header

            //Adaptive
            section.adaptive
                .adaptive-all
                    .adaptive-all__nav
                        ul
                            li
                                a(href="#") Rus
                            li
                                a(href="#") Vanilla
                            li
                                a(href="#") Dried
                            li
                                a(href="#") investment
                            li
                                a(href="#") Plantations
                            li
                                a(href="#") Call back

            //Promo
            section.promo
                .promo-all
                    img(src="img/back-one.png", alt="").back-one
                    img(src="img/back-two.png", alt="").back-two
                    img(src="img/back-bonus.png", alt="").back-bonus
                    .promo-all__title TASTE <br> FOUNDATIONS
                    .promo-all__button
                        a(href="#") More

            //About
            section.about.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                .about-all
                    .about-all__left 90+
                    .about-all__right
                        .title About
                        .subtitle
                            span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai
                        .button
                            a(href="#") More about us

            //Products
            section.products
                .products-all
                    .products-all__title Products
                    .products-all__main
                        .main-item
                            .main-item__img
                                img(src="img/product-one.png", alt="")
                            .main-item__desc Mango
                        .main-item
                            .main-item__img
                                img(src="img/product-two.png", alt="")
                            .main-item__desc Banana
                        .main-item
                            .main-item__img
                                img(src="img/product-three.png", alt="")
                            .main-item__desc Vanilla
                        .main-item
                            .main-item__img
                                img(src="img/product-four.png", alt="")
                            .main-item__desc Pineapple
                        .main-item
                            .main-item__img
                                img(src="img/product-five.png", alt="")
                            .main-item__desc Coco beans

            //Quality
            section.quality
                .quality-all
                    .quality-all__left.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                        .title Quality
                        .text For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste.
                        .button
                            a(href="#") More
                    .quality-all__right.wow.animate__animated.animate__fadeInRight.animate__delay-0.5s
                        .title Convenience
                        .text As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai
                        .button
                            a(href="#") More

            //Mission
            section.mission
                .mission-all
                    .mission-all__left.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                        .title Our mission
                        .text For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste.
                    .mission-all__right.wow.animate__animated.animate__fadeInRight.animate__delay-0.5s
                        .title Certificates
                        .list
                            a(href="#") Kosher Certified
                            a(href="#") Non-GMO Project Verified
                            a(href="#") Gluten-Free Certified

            //Bottom
            section.bottom
                .bottom-all
                    .bottom-all__main
                        .main-item.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                            .main-item__title Wholesale trade
                            .main-item__text 
                                span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai
                            .main-item__button
                                a(href="#") Request
                        .main-item.wow.animate__animated.animate__fadeInRight.animate__delay-0.5s
                            .main-item__title Distributors
                            .main-item__text 
                                span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai
                            .main-item__button
                                a(href="#") Request

            include includes/footer


        include includes/scripts
