doctype html
html(lang='en')
    include includes/head
    link(rel="stylesheet", href='css/news.min.css')
    body
        .all
            include includes/header

            //Adaptive
            section.adaptive
                .adaptive-all
                    .adaptive-all__nav
                        ul
                            li
                                a(href="#") Rus
                            li
                                a(href="#") Vanilla
                            li
                                a(href="#") Dried
                            li
                                a(href="#") investment
                            li
                                a(href="#") Plantations
                            li
                                a(href="#") Call back

            //News
            section.news
                .news-all
                    .news-all__title News
                    .news-all__main
                        .main-wrapper.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Fun and Easy Ways to Decorate a Cake
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Lorem ipsum dolor
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Fun and Easy Ways to Decorate a Cake
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                        .main-wrapper.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Fun and Easy Ways to Decorate a Cake
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Fun and Easy Ways to Decorate a Cake
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Fun and Easy Ways to Decorate a Cake
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                        .main-wrapper.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Lorem ipsum dolor
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Fun and Easy Ways to Decorate a Cake
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Fun and Easy Ways to Decorate a Cake
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                        .main-wrapper.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Fun and Easy Ways to Decorate a Cake
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Fun and Easy Ways to Decorate a Cake
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                            .main-wrapper__blog
                                .date 09 jan 2022
                                a(href="#") 
                                    .title Fun and Easy Ways to Decorate a Cake
                                .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                    .news-all__pages
                        ul
                            li
                                a(href="#") 1
                            li
                                a(href="#") 2
                            li
                                a(href="#") 3
                            li
                                a(href="#") 4
                            li
                                a(href="#") 5
                            li
                                a(href="#") ...
                            li
                                a(href="#") Next

            include includes/footer


        include includes/scripts
