doctype html
html(lang='en')
    include includes/head
    link(rel="stylesheet", href='css/catalog-one.min.css')
    link(rel="stylesheet", href='css/catalog-two.min.css')
    link(rel="stylesheet", href='css/plantations.min.css')
    body
        .all
            include includes/header

            //Adaptive
            section.adaptive
                .adaptive-all
                    .adaptive-all__nav
                        ul
                            li
                                a(href="#") Rus
                            li
                                a(href="#") Vanilla
                            li
                                a(href="#") Dried
                            li
                                a(href="#") investment
                            li
                                a(href="#") Plantations
                            li
                                a(href="#") Call back

            //Guide
            section.guide#guide-one
                .guide-all
                    .guide-left.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                        .guide-left__captions
                            .guide-button Indonesia
                        .guide-left__text
                            span Combining formulation expertise with substantial knowledge in producing natural ingredients, we bring together science, market insights, and sourcing to create business advantages for our partners. Virginia Dare’s combination of superior flavor platforms with focused industry expertise makes us the leading partner for attaining preferred taste with strategic business value.
                            span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai.
                    .guide-right.wow.animate__animated.animate__fadeInRight.animate__delay-0.5s
                        .guide-right__img
                            img(src="img/back-bonus.png", alt="")

            //Extracts-two
            section.extracts#extracts-two
                .extracts-all
                    .extracts-all__title Popular products
                    .extracts-all__main.wow.animate__animated.animate__pulse.animate__delay-0.5s
                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract

                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract
                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract

            //Guide
            section.guide#guide-two
                .guide-all
                    .guide-left.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                        .guide-left__captions
                            .guide-button Madagascar
                        .guide-left__text
                            span Combining formulation expertise with substantial knowledge in producing natural ingredients, we bring together science, market insights, and sourcing to create business advantages for our partners. Virginia Dare’s combination of superior flavor platforms with focused industry expertise makes us the leading partner for attaining preferred taste with strategic business value.
                            span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai.
                    .guide-right.wow.animate__animated.animate__fadeInRight.animate__delay-0.5s
                        .guide-right__img
                            img(src="img/back-bonus.png", alt="")

            //Extracts-two
            section.extracts#extracts-two
                .extracts-all
                    .extracts-all__title Popular products
                    .extracts-all__main.wow.animate__animated.animate__pulse.animate__delay-0.5s
                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract

                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract
                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract

            //Guide
            section.guide#guide-three
                .guide-all
                    .guide-left.wow.animate__animated.animate__fadeInLeft.animate__delay-0.5s
                        .guide-left__captions
                            .guide-button Dominicana
                        .guide-left__text
                            span Combining formulation expertise with substantial knowledge in producing natural ingredients, we bring together science, market insights, and sourcing to create business advantages for our partners. Virginia Dare’s combination of superior flavor platforms with focused industry expertise makes us the leading partner for attaining preferred taste with strategic business value.
                            span For over 90 years, Virginia Dare has worked with our partners to build products delivering preferred taste. As a global provider, we offer services from our headquarters in Brooklyn as well as a full facility in Shanghai.
                    .guide-right.wow.animate__animated.animate__fadeInRight.animate__delay-0.5s
                        .guide-right__img
                            img(src="img/back-bonus.png", alt="")

            //Extracts-two
            section.extracts#extracts-two
                .extracts-all
                    .extracts-all__title Popular products
                    .extracts-all__main.wow.animate__animated.animate__pulse.animate__delay-0.5s
                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract

                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract
                        .main-item
                            .main-item__card#item-card
                                .card-top
                                    .size
                                        .size__text 25L
                                        .size__img
                                            img(src="img/cub.svg", alt="")
                                    .reviews
                                        .reviews-likes
                                            .reviews-likes__text 4.5
                                            .reviews-likes__img
                                                img(src="img/star.svg", alt="")
                                        .reviews-comments
                                            .reviews-comments__text 4.5
                                            .reviews-comments__img
                                                img(src="img/comment.svg", alt="")
                                .card-bottom
                                    .price 230$
                                    .button Add to cart
                            .main-item__text Ugandan Pure Vanilla Extract

            include includes/footer


        include includes/scripts
