@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.location {
  padding: 0;
}

.location-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.location-all__text {
  padding: 0 100px 0 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.location-all__text .text-wrapper {
  max-width: 381px;
}

.location-all__text .text-wrapper .address {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 33px;
  color: #FFFFFF;
}

.location-all__text .text-wrapper .tel a {
  font-weight: 400;
  font-size: 18px;
  line-height: 170%;
  color: #FFFFFF;
}

.location-all__text .text-wrapper .tel a:hover {
  color: #7c7c7c;
}

@supports (-webkit-appearance:none) {

}

@media (max-width: 1440px) {
  .location .location-all__map {
    width: 100%;
    max-width: 870px;
  }

  .location .location-all__map iframe {
    width: 100%;
    max-width: 870px;
  }

  .location .location-all__text {
    padding: 0 50px 0 0;
    margin-left: 50px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1024.98px) {
  .location .location-all__map {
    width: 100%;
  }

  .location .location-all__map iframe {
    width: 100%;
  }

  .location .location-all__text {
    padding: 0 50px 0 0;
    margin-left: 50px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 767.98px) {
  .location .location-all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .location .location-all__map {
    margin-bottom: 30px;
    width: 100%;
  }

  .location .location-all__map iframe {
    width: 100%;
  }

  .location .location-all__text {
    padding: 0 25px;
  }

@supports (-webkit-appearance:none) {

}
}
/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImxvY2F0aW9uLnNjc3MiLCJsb2NhdGlvbi5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQVEsOExBQUE7QUFpQlI7RUFDSSxVQUFBO0FDZko7QURnQkk7RUFDSSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSw4QkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtBQ2RSO0FEZVE7RUFDSSxvQkFBQTtFQUNBLG1CQUFBO01BQUEsV0FBQTtVQUFBLE9BQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtBQ2JaO0FEY1k7RUFDSSxnQkFBQTtBQ1poQjtBRGFnQjtFQUNJLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsbUJBQUE7RUFDQSxjQUFBO0FDWHBCO0FEY29CO0VBQ0ksZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsaUJBQUE7RUFDQSxjQUFBO0FDWnhCO0FEYXdCO0VBQ0ksY0FBQTtBQ1g1QjtBRGtCSTtFQUVRO0lBQ0ksV0FBQTtJQUNBLGdCQUFBO0VDakJkO0VEa0JjO0lBQ0ksV0FBQTtJQUNBLGdCQUFBO0VDaEJsQjtFRG1CVTtJQUNJLG1CQUFBO0lBQ0EsaUJBQUE7SUFDQSxtQkFBQTtRQUFBLFdBQUE7WUFBQSxPQUFBO0VDakJkO0FBQ0Y7QURvQkk7RUFFUTtJQUNJLFdBQUE7RUNuQmQ7RURvQmM7SUFDSSxXQUFBO0VDbEJsQjtFRHFCVTtJQUNJLG1CQUFBO0lBQ0EsaUJBQUE7RUNuQmQ7QUFDRjtBRHNCSTtFQUNJO0lBQ0ksNEJBQUE7SUFBQSw2QkFBQTtRQUFBLDBCQUFBO1lBQUEsc0JBQUE7RUNwQlY7RURxQlU7SUFDSSxtQkFBQTtJQUNBLFdBQUE7RUNuQmQ7RURvQmM7SUFDSSxXQUFBO0VDbEJsQjtFRHFCVTtJQUNJLGVBQUE7RUNuQmQ7QUFDRjtBQUNBOztBQUVBOztDQUVDOztBQUVEOztBQUVBOztBQUVBOztDQUVDOztBQUVEOztBQUVBOztBQUVBOztDQUVDOztBQUVEOztBQUVBOztBQUVBIiwiZmlsZSI6ImxvY2F0aW9uLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgdXJsKGh0dHBzOi8vZm9udHMuZ29vZ2xlYXBpcy5jb20vY3NzP2ZhbWlseT1Nb250c2VycmF0OjEwMCwyMDAsMzAwLHJlZ3VsYXIsNTAwLDYwMCw3MDAsODAwLDkwMCwxMDBpdGFsaWMsMjAwaXRhbGljLDMwMGl0YWxpYyxpdGFsaWMsNTAwaXRhbGljLDYwMGl0YWxpYyw3MDBpdGFsaWMsODAwaXRhbGljLDkwMGl0YWxpYyk7XHJcbkBpbXBvcnQgXCJpbXBvcnRzL2JyZWFrcG9pbnRzLnNjc3NcIjtcclxuQGltcG9ydCBcImltcG9ydHMvY29sb3JzLnNjc3NcIjtcclxuQG1peGluIGJ1dHRvbiB7XHJcbiAgICBmb250LXdlaWdodDogNzAwO1xyXG4gICAgZm9udC1zaXplOiAxOHB4O1xyXG4gICAgbGluZS1oZWlnaHQ6IDIycHg7XHJcbiAgICBjb2xvcjogJHllbGxvdztcclxuICAgIHBhZGRpbmctYm90dG9tOiA2cHg7XHJcbiAgICBib3JkZXItYm90dG9tOiAycHggc29saWQgJHllbGxvdztcclxuICAgIHRyYW5zaXRpb246IDFzO1xyXG4gICAgJjpob3ZlciB7XHJcbiAgICAgICAgY29sb3I6ICNhZjhkMDU7XHJcbiAgICB9XHJcbn1cclxuXHJcbi8vTG9jYXRpb25cclxuLmxvY2F0aW9uIHtcclxuICAgIHBhZGRpbmc6IDA7XHJcbiAgICAmLWFsbCB7XHJcbiAgICAgICAgZGlzcGxheTogZmxleDtcclxuICAgICAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XHJcbiAgICAgICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxuICAgICAgICAmX190ZXh0IHtcclxuICAgICAgICAgICAgcGFkZGluZzogMCAxMDBweCAwIDA7XHJcbiAgICAgICAgICAgIGZsZXg6IDE7XHJcbiAgICAgICAgICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICAgICAgICAgIGp1c3RpZnktY29udGVudDogY2VudGVyO1xyXG4gICAgICAgICAgICAudGV4dC13cmFwcGVyIHtcclxuICAgICAgICAgICAgICAgIG1heC13aWR0aDogMzgxcHg7XHJcbiAgICAgICAgICAgICAgICAuYWRkcmVzcyB7XHJcbiAgICAgICAgICAgICAgICAgICAgZm9udC13ZWlnaHQ6IDQwMDtcclxuICAgICAgICAgICAgICAgICAgICBmb250LXNpemU6IDQwcHg7XHJcbiAgICAgICAgICAgICAgICAgICAgbGluZS1oZWlnaHQ6IDQ5cHg7XHJcbiAgICAgICAgICAgICAgICAgICAgbWFyZ2luLWJvdHRvbTogMzNweDtcclxuICAgICAgICAgICAgICAgICAgICBjb2xvcjogI0ZGRkZGRjtcclxuICAgICAgICAgICAgICAgIH1cclxuICAgICAgICAgICAgICAgIC50ZWwge1xyXG4gICAgICAgICAgICAgICAgICAgIGEge1xyXG4gICAgICAgICAgICAgICAgICAgICAgICBmb250LXdlaWdodDogNDAwO1xyXG4gICAgICAgICAgICAgICAgICAgICAgICBmb250LXNpemU6IDE4cHg7XHJcbiAgICAgICAgICAgICAgICAgICAgICAgIGxpbmUtaGVpZ2h0OiAxNzAlO1xyXG4gICAgICAgICAgICAgICAgICAgICAgICBjb2xvcjogI0ZGRkZGRjtcclxuICAgICAgICAgICAgICAgICAgICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgICAgICAgICAgICAgICAgICAgICBjb2xvcjogcmdiKDEyNCwgMTI0LCAxMjQpO1xyXG4gICAgICAgICAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG4gICAgfVxyXG4gICAgQG1lZGlhIChtYXgtd2lkdGg6IDE0NDBweCkge1xyXG4gICAgICAgIC5sb2NhdGlvbi1hbGwge1xyXG4gICAgICAgICAgICAmX19tYXAge1xyXG4gICAgICAgICAgICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICAgICAgICAgICAgICBtYXgtd2lkdGg6IDg3MHB4O1xyXG4gICAgICAgICAgICAgICAgaWZyYW1lIHtcclxuICAgICAgICAgICAgICAgICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgICAgICAgICAgICAgICBtYXgtd2lkdGg6IDg3MHB4O1xyXG4gICAgICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgICAgICZfX3RleHQge1xyXG4gICAgICAgICAgICAgICAgcGFkZGluZzogMCA1MHB4IDAgMDtcclxuICAgICAgICAgICAgICAgIG1hcmdpbi1sZWZ0OiA1MHB4O1xyXG4gICAgICAgICAgICAgICAgZmxleDogMTtcclxuICAgICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgIH1cclxuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAkbGcpIHtcclxuICAgICAgICAubG9jYXRpb24tYWxsIHtcclxuICAgICAgICAgICAgJl9fbWFwIHtcclxuICAgICAgICAgICAgICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgICAgICAgICAgICAgaWZyYW1lIHtcclxuICAgICAgICAgICAgICAgICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgICAgICAgICAgIH1cclxuICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICAmX190ZXh0IHtcclxuICAgICAgICAgICAgICAgIHBhZGRpbmc6IDAgNTBweCAwIDA7XHJcbiAgICAgICAgICAgICAgICBtYXJnaW4tbGVmdDogNTBweDtcclxuICAgICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgIH1cclxuICAgIEBtZWRpYSAobWF4LXdpZHRoOiAkbWQpIHtcclxuICAgICAgICAubG9jYXRpb24tYWxsIHtcclxuICAgICAgICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICAgICAgICAgICAgJl9fbWFwIHtcclxuICAgICAgICAgICAgICAgIG1hcmdpbi1ib3R0b206IDMwcHg7XHJcbiAgICAgICAgICAgICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgICAgICAgICAgIGlmcmFtZSB7XHJcbiAgICAgICAgICAgICAgICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICAgICAgJl9fdGV4dCB7XHJcbiAgICAgICAgICAgICAgICBwYWRkaW5nOiAwIDI1cHg7XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICB9XHJcbn0iLCJAaW1wb3J0IHVybChodHRwczovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2Nzcz9mYW1pbHk9TW9udHNlcnJhdDoxMDAsMjAwLDMwMCxyZWd1bGFyLDUwMCw2MDAsNzAwLDgwMCw5MDAsMTAwaXRhbGljLDIwMGl0YWxpYywzMDBpdGFsaWMsaXRhbGljLDUwMGl0YWxpYyw2MDBpdGFsaWMsNzAwaXRhbGljLDgwMGl0YWxpYyw5MDBpdGFsaWMpO1xuLmxvY2F0aW9uIHtcbiAgcGFkZGluZzogMDtcbn1cbi5sb2NhdGlvbi1hbGwge1xuICBkaXNwbGF5OiBmbGV4O1xuICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG59XG4ubG9jYXRpb24tYWxsX190ZXh0IHtcbiAgcGFkZGluZzogMCAxMDBweCAwIDA7XG4gIGZsZXg6IDE7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGp1c3RpZnktY29udGVudDogY2VudGVyO1xufVxuLmxvY2F0aW9uLWFsbF9fdGV4dCAudGV4dC13cmFwcGVyIHtcbiAgbWF4LXdpZHRoOiAzODFweDtcbn1cbi5sb2NhdGlvbi1hbGxfX3RleHQgLnRleHQtd3JhcHBlciAuYWRkcmVzcyB7XG4gIGZvbnQtd2VpZ2h0OiA0MDA7XG4gIGZvbnQtc2l6ZTogNDBweDtcbiAgbGluZS1oZWlnaHQ6IDQ5cHg7XG4gIG1hcmdpbi1ib3R0b206IDMzcHg7XG4gIGNvbG9yOiAjRkZGRkZGO1xufVxuLmxvY2F0aW9uLWFsbF9fdGV4dCAudGV4dC13cmFwcGVyIC50ZWwgYSB7XG4gIGZvbnQtd2VpZ2h0OiA0MDA7XG4gIGZvbnQtc2l6ZTogMThweDtcbiAgbGluZS1oZWlnaHQ6IDE3MCU7XG4gIGNvbG9yOiAjRkZGRkZGO1xufVxuLmxvY2F0aW9uLWFsbF9fdGV4dCAudGV4dC13cmFwcGVyIC50ZWwgYTpob3ZlciB7XG4gIGNvbG9yOiAjN2M3YzdjO1xufVxuQG1lZGlhIChtYXgtd2lkdGg6IDE0NDBweCkge1xuICAubG9jYXRpb24gLmxvY2F0aW9uLWFsbF9fbWFwIHtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBtYXgtd2lkdGg6IDg3MHB4O1xuICB9XG4gIC5sb2NhdGlvbiAubG9jYXRpb24tYWxsX19tYXAgaWZyYW1lIHtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBtYXgtd2lkdGg6IDg3MHB4O1xuICB9XG4gIC5sb2NhdGlvbiAubG9jYXRpb24tYWxsX190ZXh0IHtcbiAgICBwYWRkaW5nOiAwIDUwcHggMCAwO1xuICAgIG1hcmdpbi1sZWZ0OiA1MHB4O1xuICAgIGZsZXg6IDE7XG4gIH1cbn1cbkBtZWRpYSAobWF4LXdpZHRoOiAxMDI0Ljk4cHgpIHtcbiAgLmxvY2F0aW9uIC5sb2NhdGlvbi1hbGxfX21hcCB7XG4gICAgd2lkdGg6IDEwMCU7XG4gIH1cbiAgLmxvY2F0aW9uIC5sb2NhdGlvbi1hbGxfX21hcCBpZnJhbWUge1xuICAgIHdpZHRoOiAxMDAlO1xuICB9XG4gIC5sb2NhdGlvbiAubG9jYXRpb24tYWxsX190ZXh0IHtcbiAgICBwYWRkaW5nOiAwIDUwcHggMCAwO1xuICAgIG1hcmdpbi1sZWZ0OiA1MHB4O1xuICB9XG59XG5AbWVkaWEgKG1heC13aWR0aDogNzY3Ljk4cHgpIHtcbiAgLmxvY2F0aW9uIC5sb2NhdGlvbi1hbGwge1xuICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gIH1cbiAgLmxvY2F0aW9uIC5sb2NhdGlvbi1hbGxfX21hcCB7XG4gICAgbWFyZ2luLWJvdHRvbTogMzBweDtcbiAgICB3aWR0aDogMTAwJTtcbiAgfVxuICAubG9jYXRpb24gLmxvY2F0aW9uLWFsbF9fbWFwIGlmcmFtZSB7XG4gICAgd2lkdGg6IDEwMCU7XG4gIH1cbiAgLmxvY2F0aW9uIC5sb2NhdGlvbi1hbGxfX3RleHQge1xuICAgIHBhZGRpbmc6IDAgMjVweDtcbiAgfVxufVxuQHN1cHBvcnRzICgtd2Via2l0LWFwcGVhcmFuY2U6bm9uZSl7XG5cbn1cblxuIEBtZWRpYSAobWF4LXdpZHRoOiAxNDQwcHgpe1xuXG5Ac3VwcG9ydHMgKC13ZWJraXQtYXBwZWFyYW5jZTpub25lKXtcblxufVxuXG59XG5cbiBAbWVkaWEgKG1heC13aWR0aDogMTAyNC45OHB4KXtcblxuQHN1cHBvcnRzICgtd2Via2l0LWFwcGVhcmFuY2U6bm9uZSl7XG5cbn1cblxufVxuXG4gQG1lZGlhIChtYXgtd2lkdGg6IDc2Ny45OHB4KXtcblxuQHN1cHBvcnRzICgtd2Via2l0LWFwcGVhcmFuY2U6bm9uZSl7XG5cbn1cblxufVxuIl19 */